<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="fcontainer"></div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <p class="vMessage">{{message}}</p>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <form action="/create" method="post">
        <div>
            <h2>Where do you work out?</h2>
            <div>
                <label for="gym_name">The name of your gym</label>
                <input type="text" name="gym_name" />
            </div>
            <div>
                <label for="address">Address</label>
                <input type="text" name="address" />
            </div>
            <div>
                <label for="city">City</label>
                <input type="text" name="city" />
            </div>
            <div>
                <label for="state">State</label>
                <input type="text" name="state" />
            </div>
            <div>
                <label for="zip_code">Zip Code</label>
                <input type="text" name="zip_code" />
            </div>


        </div>
        <div>
            <h2>Give some info about your workout.</h2>
            <div>
                <label for="workout_plan">Splits/Exercises</label>
                <textarea name="workout_plan" rows="4" cols="20"
                    placeholder="Describe your workouts and how you typically split things up?"></textarea>
            </div>
            <div>
                <label for="schedule">Schedule</label>
                <textarea name="schedule" rows="4" cols="20"
                    placeholder="Describe your weekly workout schedule. What days do you train and at what times?"></textarea>
            </div>
        </div>
        <div>
            <input type="submit" value="Create!" />
        </div>
    </form>
</body>

</html>