<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='create_edit.css') }}">
</head>

<body>
    <div class="heading_container">
        <h2>Create Your Plan:</h2>
        <form action="/GymBuddies/dashboard">
            <input class="submit_button" type="submit" value="Dashboard">
        </form>
    </div>
    <div class="form_container_container">
        <div class="form_container">
            <form action="/create" method="post">
                <div class="address_fields">
                    <h2>Where do you work out?</h2>
                    <div class="_form">
                        <div class="form_column">
                            <p><label for="gym_name">The name of your gym</label></p>
                            <p><label for="address">Address</label></p>
                            <p><label for="city">City</label></p>
                            <p><label for="state">State</label></p>
                            <p><label for="zip_code">Zip Code</label></p>

                        </div>
                        <div class="form_column">
                            <p><input type="text" name="gym_name" /></p>
                            <p><input type="text" name="address" /></p>
                            <p><input type="text" name="city" /></p>
                            <p><input type="text" name="state" /></p>
                            <p><input type="text" name="zip_code" /></p>
                        </div>
                    </div>
                </div>

                <div>
                    <h2>Give some info about your workout.</h2>
                    <div>
                        <p><label for="workout_plan">Splits/Exercises</label></p>
                        <textarea name="workout_plan" rows="4" cols="20"
                            placeholder="Describe your workouts and how you typically split things up?"></textarea>
                    </div>
                    <div>
                        <p><label for="schedule">Schedule</label></p>
                        <textarea name="schedule" rows="4" cols="20"
                            placeholder="Describe your weekly workout schedule. What days do you train and at what times?"></textarea>
                    </div>
                </div>
                <div>
                    <input class="submit_button" type="submit" value="Create!" />
                </div>
            </form>
        </div>
    </div>
    {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <p class="vMessage">{{message}}</p>
            {% endfor %}
            {% endif %}
    {% endwith %}
</body>

</html>