<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GymBuddies</title>
    <link rel="stylesheet" href="../static/display.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='display.css') }}">
</head>

<body>
    <div class="heading_container">
        <h2>{{host['first_name']}}'s training plan:</h2>
        <form action="/GymBuddies/dashboard">
            <input class="submit_button" type="submit" value="Dashboard">
        </form>
    </div>
    <div class="info_container">
        <div class="info">
            <div class="small_info">
                <h2>What:</h2>
                <p>{{plan['workout_plan']}}</p>
            </div>
            <div class="small_info">
                <h2>When:</h2>
                <p>{{plan['schedule']}}</p>
            </div>
            <div class="small_info">
                <h2>Where:</h2>
                <p>{{plan['gym_name']}}</p>
                <p>Address: {{plan['address']}}</p>
                <p>City: {{plan['city']}}</p>
                <p>State: {{plan['state']}}</p>
                <p>Zip Code: {{plan['zip_code']}}</p>
            </div>
        </div>
    </div>
    {%if buddy%}
    <div class="messages_container">
        <div class="messages">
            <div>
                <h2>Messages</h2>
                <form action="/GymBuddies/display/{{plan['id']}}">
                    <input class="submit_button" type="submit" value="Refresh">
                </form>
                <div class="message_box">
                    {%if messages%}
                    {% for message in messages %}
                    {%if message['sender']=="host"%}
                    <div style="color: rgb(0, 0, 56)" class="hostMessage">{{host['first_name']}}: {{message['content']}}
                    </div>
                    {%else%}
                    <div style="color: rgb(0, 0, 56)" class="buddyMessage">{{buddy[0]['first_name']}}:
                        {{message['content']}}</div>
                    {%endif%}
                    {%endfor%}
                    {%endif%}
                </div>
            </div>
            {%if user_id == host['id']%}
            <form action="/GymBuddies/message/host/{{plan['id']}}" method="post">
                <div>
                    <textarea name="content" rows="1" cols="20" placeholder="message" class="message_feild"></textarea>
                    <input class="submit_button" type="submit" value="send" />
                </div>
            </form>
            {%else%}
            <form action="/GymBuddies/message/buddy/{{plan['id']}}" method="post">
                <div>
                    <textarea name="content" rows="1" cols="20" placeholder="message" class="message_feild"></textarea>
                    <input class="submit_button" type="submit" value="send" />
                </div>
            </form>
            {%endif%}
        </div>
    </div>
    {%endif%}


    <div class="action_buttons">
        {%if buddy %}
        {%if user_id != host['id']%}
        <form action="/GymBuddies/remove/{{plan['id']}}">
            <input class="submit_button" type="submit" value="Leave {{host['first_name']}}'s Plan">
        </form>
        {%endif%}
        {%else%}
        {%if user_id != host['id']%}
        <form action="/GymBuddies/add/{{plan['id']}}">
            <input class="submit_button" type="submit" value="Join {{host['first_name']}}'s training plan">
        </form>
        {%else%}
        <form action="/GymBuddies/edit/{{plan['id']}}">
            <input class="submit_button" type="submit" value="Edit">
        </form>
        {%endif%}
        {%endif%}
    </div>
</body>

</html>