*{
    margin: 0px;
    padding: 0px;
    color: whitesmoke;
}

body{
    background-color: rgb(46, 46, 46);
}

.submit_button {
    background-color: rgb(46, 46, 158);
    color: whitesmoke;
    padding: 5px;
    border-radius: 5px;
}

._form{
    display: flex;
    justify-content: space-between;
}

.form_column{
    display: block;
}

.address_fields{
    width: 500px;
}

.form_container {
    background-color: rgb(0, 0, 56);
    padding: 15px;
    border-radius: 5px;
    width: 700px;
    display: flex;
    justify-content: center;
}

.heading_container{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: rgb(0, 0, 78);
    
}

.form_container_container {
    display: flex;
    justify-content: center;
}

.address_fields{
    padding: 10px;
}